.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    min-height: 50px;
    top: 1em;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3.4375em;
    color: var(--light);
    margin: 0 auto;
    width: min(980px, calc(100% - 2em));
    background: #ededed;
    border-radius: 1em;
    padding-inline: .5em;
}

.logo {
    z-index: 999;
    border-radius: .4em;

    > img {
        box-shadow: 1px 1px 3px #10101017;
    }
}

.nav__list {
    display: flex;
    column-gap: 2em;
}

.nav__items {
    display: block;
}

.nav__link {
    transition: color .15s ease;
    color: var(--nav-link);
    font-size: 1rem;
    transition: opacity .25s ease;

    &:hover {
        opacity: .9;
    }
}

.header-btn {
    height: 42px;
    border-radius: .8em;
    border: none;
    background-color: var(--dark);
    padding-inline: 1em;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    color: #ffff;
    transition: opacity .15s ease;
    box-shadow:
    0 2px 4px #1010100e,
    inset 0 2px 4px #747474,
    inset 0 -2px 4px #313131,
    0 2px 0px #272727;

    &:hover {
        opacity: .9;
    }
}

.hamburger {
    display: none;
    cursor: pointer;
    z-index: 99;
    margin-right: .3em;
}

.bar {
    height: 4px;
    width: 1.8em;
    border-radius: 1em;
    background-color: var(--dark);
    margin: 5px 0;
    transition: transform .15s ease;
}

// mobile nav
@media (max-width: 770px) {

    .nav { // Don't use 100% width when floating
        position: fixed;
        top: 57px;
        padding-top: 11px;
        background: #ededed;
        max-height: 0;
        left: 1em;
        right: 1em;
        overflow: hidden;
        transition: max-height .3s ease-in-out;
        z-index: 10;
        border-radius: 0 0 1em 1em;
        border-bottom: 3px solid rgba(32, 32, 32, 0.067);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        padding-inline: 1em;
        row-gap: 2em;
        padding-top: .5em;
        padding-bottom: 1.5em;
    }

    .nav__link {
        font-size: 1.125em;
        color: var(--nav-link);
        font-weight: 500;
    }

    .hamburger {
        display: block;
    }

    .header-btn {
        display: none;
    }
}

.nav--open {
    max-height: 500px; // Sufficient height for nav content
}

.hamburger--open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
    transform: translateY(-2px) rotate(-45deg);
}