.header {
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 1em;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    min-height: 60px;
    background-color: #ededed;
    border-radius: 1em;
    color: black;
    padding-inline: 1em;
    width: min(980px, 100% - 2rem);
}

.logo {
    font-size: 1.5rem;
    font-weight: 900;
}

.nav {
    transition: height .3s ease-in-out;
}

.nav__list {
    display: flex;
    column-gap: 2em;
}

.nav__items {
    display: block;
}

.nav__link {
    transition: color .15s ease;
}

.nav__link:hover,
.nav__link:focus {
    color: #ffbebe;
}

button {
    padding: .75em 1.5em;
    border-radius: 1em;
    border: none;
    background-color: #101010;
    color: #fff;
    cursor: pointer;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    height: 4px;
    width: 1.8em;
    border-radius: 1em;
    background-color: #000000;
    margin: 5px 0;
    transition: transform .15s ease ;
}

// laptop space
// @media (min-width: 651px) {
//     .header__content {
//         width: min(980px, calc(100% - 1rem));
//     }
// }

// mobile nav
@media (max-width: 650px) {

    .header__content {
        margin-inline: 1em;
    }

    .nav { // Don't use 100% width when floating
        position: fixed;
        top: 60px;
        background: #ededed;
        height: 0;
        right: 1em;
        left: 1em;
        overflow: hidden;
        border-radius: 0 0 1em 1em;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        row-gap: 1.2em;
        padding-top: .5em;
        padding-bottom: 1.5em;
    }

    .nav__link {
        font-size: 14px;
    }

    .hamburger {
        display: block;
    }

    button {
        display: none;
    }
}

.nav--open {
    height: unset;
}

.hamburger--open .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}
.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}
.hamburger--open .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}