.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    padding-bottom: 144px;
}

.section-badge {
    display: flex;
    gap: 4px;
    background-color: #F3F3F3;
    border: 1px solid #fff;
    border-radius: 2em;
    padding-inline: .5em;
    height: 1.625em;
    align-items: center;
    color: #676767;
    width: fit-content;
}

// bento cards

.bento-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-direction: column;
    gap: 1.5em;
    max-width: 1200px;
    padding-inline: 1em;
}

.bento-card {
    background-color: var(--light);
    border-radius: 1em;
    max-width: 30em;
    padding: .25em;
    border: 2px solid #f7f7f7;
    transition: box-shadow, transform, .15s ease;
}

.bento-img {
    width: 100%;
}

.bento-text {
    padding: 1em;

    .bento-h3 {
        color: var(--dark);
        font-size: 1.25rem;
    }

    .bento-p {
        color: #676767;
        font-weight: 500;
        font-size: 1rem;
    }
}

.circle-arrow {
    transition: rotate .15s ease;
}

.bento-cta {
    height: 2.7em;
    padding-left: 1em;
    padding-right: .3em;
    border-radius: 2em;
    background: var(--dark);
    color: var(--light);
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    gap: .3em;
    border: none;
    margin-top: 1em;
    cursor: pointer;
    transition: .15s ease;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

    &:hover {
        gap: .6em;
    }

    &:hover .circle-arrow {
        rotate: -15deg;
    }
}

@media (max-width: 980px) {
    .bento-container {
        grid-template-columns: 1fr;
    }
}

