.work-container {
    width: min(1000px, calc(100% - 2em));
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding-bottom: 122px;
}

.work-badge {
    color: #505050;
}

.work-grid {
    display: grid;
    grid-template-columns:
    repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5em;

    .work-card {
        background-color: #F8F8F8;
        border: 1px solid #ECECEC;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        padding: .5em;
    }

    .web-pic {
        width: 100%;
        min-height: 200px;
        border-radius: .8em;
    }

    .web-info {
        padding-top: .1em;
        padding-bottom: 12px;
        padding-inline: 1em;
        display: flex;
        flex-direction: column;
        gap: .5em;

        .web-title {
            font-size: 1.125rem;
        }

        .web-p {
            color: #636363;
            font-weight: 400;
        }

        .categorie {
            padding: 4px .75em;
            background-color: #fff;
            color: #353535;
            border-radius: .5rem;
            font-size: 14px;
            border: 1px solid #E3E3E3;
        }
    }
}

.work-cta {
    margin-top: 1em;
    height: 42px;
    border-radius: .8em;
    border: none;
    background-color: var(--dark);
    padding-left: 1em;
    padding-right: .5em;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    color: #ffff;
    transition: opacity .15s ease;
    box-shadow:
    0 2px 4px #1010100e,
    inset 0 2px 4px #747474,
    inset 0 -2px 4px #313131,
    0 2px 0px #272727;
    display: flex;
    align-items: center;
    gap: .1em;

    > img {
        width: 20px;
    }

    &:hover {
        opacity: .9;
    }
}

@media (max-width: 770px) {

    .work-grid {
        grid-template-columns: 1fr;
    }
}

.web-card-2 .web-info {
    margin-top: -1em;
}

.web-card-3 .web-info {
    margin-top: -1.5em;
}

.job-made {
    gap: .5em;
    display: flex;
    flex-wrap: wrap;
}

.taco > img {
    max-width: 420px;
}